/* $logo: #20243f */

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 65rem;
  min-width: 30rem;
}

h2.h2__red {
  color: purple;
}

.bootstrap-form {
  margin-bottom: 2rem;
}


.header {
  /* background-color: black;*/
  background-color: #080B20;
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 2rem 2rem 2rem 2rem; 
}
.header__image {
  width: 0 auto;
}

li {
  list-style-type: circle;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
li.li__no-decoration {
  list-style-type: none;
}
li.li__disc {
  list-style-type: disc;
}
li.youtube-video {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

a {
  color: #080B20;
  font-weight: 300;
}
a:visited {
  color: #080B20;
}
a:hover {
  background-color: red;
  color: #ffffff;
  font-weight: 600;
  padding: 0.4rem;
}
a.disabled {
  pointer-events: none;
}

.footer {
  border-top: 0.2rem solid #000000;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.main-content {
  display: flex;
  flex-direction: column;
}

/*LAPTOPS*/
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .youtube-video {
      height: 315px;
      width: 560px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .youtube-video {
      height: 315px;
      width: 560px;
    }
}

/*iPHONES*/
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .youtube-video {
      height: 315px;
      width: 480px;
    }
  }

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .youtube-video {
      height: 315px;
      width: 560px;
    }
}